{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

   {% include 'main/head.html' %}

   <body>
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      <!-- Preloader -->
      <div class="preloader"></div>
      <!-- pre loader area end -->

      <!-- back to top start -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </div>
      <!-- back to top end -->

      {% include 'main/menu.html' %}


      <!-- slider-area-start  -->
      <section class="slider-area fix">
         <div class="swiper main-slider swiper-container swiper-container-fade">
            <div class="swiper-wrapper p-relative">
               <div class="item-slider sliderm-height p-relative swiper-slide">
                  <div class="slide-bg" data-background="{% static 'webapp/assets/img/slider/fes_men3.jpg' %}"></div>
                  <div class="container">
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="slider-contant mt-25">
                               <span data-animation="fadeInUp" data-delay=".3s">Industrial</span>
                               <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">Metal Works</h2>
                               <div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                   <a href="services.html" class="tp-btn mr-30">Our Services <i class="fal fa-angle-right"></i></a>
                                   <a href="about.html" class="tp-btn-2">Learn More</a>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item-slider sliderm-height p-relative swiper-slide">
                 <div class="slide-bg" data-background="{% static 'webapp/assets/img/slider/fes_men2.jpg' %}"></div>
                 <div class="container">
                    <div class="row ">
                       <div class="col-lg-12">
                          <div class="slider-contant mt-25">
                              <span  class="slider-button" data-animation="fadeInUp" data-delay=".3s">Construction</span>
                              <h2  class="slider-title" data-animation="fadeInUp" data-delay=".6s">Oil Works</h2>
                              <div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                 <a href="services.html" class="tp-btn mr-30">Our Services <i class="fal fa-angle-right"></i></a>
                                 <a href="about.html" class="tp-btn-2">Learn More</a>
                              </div>
                          </div>
                       </div>
                    </div>
                 </div>
               </div>
               <div class="item-slider sliderm-height p-relative swiper-slide">
                 <div class="slide-bg" data-background="{% static 'webapp/assets/img/slider/fes_men.jpg' %}"></div>
                 <div class="container">
                    <div class="row ">
                       <div class="col-lg-12">
                          <div class="slider-contant mt-25">
                              <span data-animation="fadeInUp" data-delay=".2s">Architecture</span>
                              <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">Interior Works</h2>
                              <div class="slider-button" data-animation="fadeInUp" data-delay=".10s">
                                 <a href="services.html" class="tp-btn mr-30">Our Services <i class="fal fa-angle-right"></i></a>
                                 <a href="about.html" class="tp-btn-2">Learn More</a>
                              </div>
                          </div>
                       </div>
                    </div>
                 </div>
               </div>
               <div class="item-slider sliderm-height p-relative swiper-slide">
               <div class="slide-bg" data-background="{% static 'webapp/assets/img/slider/fes_bag.jpg' %}"></div>
               <div class="container">
                  <div class="row ">
                     <div class="col-lg-12">
                        <div class="slider-contant mt-25">
                            <span  class="slider-button" data-animation="fadeInUp" data-delay=".3s">Construction</span>
                            <h2  class="slider-title" data-animation="fadeInUp" data-delay=".6s">Cotton Works</h2>
                            <div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                               <a href="services.html" class="tp-btn mr-30">Our Services <i class="fal fa-angle-right"></i></a>
                               <a href="about.html" class="tp-btn-2">Learn More</a>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev ms-button"><i class="far fa-long-arrow-left"></i></div>
            <div class="swiper-button-next ms-button"><i class="far fa-long-arrow-right"></i></div>
         </div>
      </section>
      <!-- slider-area-end -->

      <!-- Swiper Dot start -->
      <section class="main-slider-dot">
         <div class="container">
            <div class="swiper main-slider-nav">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="sm-button">
                        <div class="sm-services__icon">
                           <i class="flaticon-industrial-robot"></i>
                        </div>
                        <div class="sm-services__text">
                           <span>Service 01</span>
                           <h4>Industrial Business</h4>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="sm-button">
                        <div class="sm-services__icon">
                           <i class="flaticon-industrial"></i>
                        </div>
                        <div class="sm-services__text">
                              <span>Service 02</span>
                           <h4>Manufacture Factory</h4>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="sm-button">
                        <div class="sm-services__icon">
                           <i class="flaticon-manufacturing"></i>
                        </div>
                        <div class="sm-services__text">
                              <span>Service 03</span>
                           <h4>Scientific Laboratories</h4>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="sm-button">
                        <div class="sm-services__icon">
                           <i class="flaticon-helmet"></i>
                        </div>
                        <div class="sm-services__text">
                              <span>Service 04</span>
                           <h4>Financial Corporates</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Swiper Dot end -->

      {% block content %}{% endblock %}

      <!-- footer start -->
      <footer>
         <div class="footer-area black-bg-2 pt-100 fix">
            <div class="container">
               <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                     <div class="footer__widget mb-40">
                        <div class="footer__logo">
                           <a href="index.html"><img src="{% static 'webapp/assets/img/logo/footer-logo.png' %}" alt=""></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                     <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Main Links</h5>
                        <div class="footer__widget-content">
                           <div class="footer__links">
                              <ul>
                                 <li><a href="about.html">Company</a></li>
                                 <li><a href="faq.html">Careers</a></li>
                                 <li><a href="contact.html">Press media</a></li>
                                 <li><a href="blog.html">Our Blog</a></li>
                                 <li><a href="faq.html">Privacy Policy</a></li>
                                 <li><a href="pricing.html">Pricing</a></li>
                              </ul>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                     <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Other Pages</h5>
                        <div class="footer__widget-content">
                           <div class="footer__links">
                              <ul>
                                 <li><a href="blog.html">History</a></li>
                                 <li><a href="team.html">Team</a></li>
                                 <li><a href="services.html">Clients</a></li>
                                 <li><a href="blog-details.html">Testimonials</a></li>
                                 <li><a href="faq.html">Get Quote</a></li>
                              </ul>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                     <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Our Services</h5>
                        <div class="footer__widget-content">
                           <div class="footer__links">
                              <ul>
                                 <li><a href="services-details.html">Manufacturing</a></li>
                                 <li><a href="services-details.html">Engineering</a></li>
                                 <li><a href="services-details.html">Consctruction</a></li>
                                 <li><a href="services-details.html">Shipping</a></li>
                                 <li><a href="services-details.html">Rennovation</a></li>
                              </ul>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
                     <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Connect with us</h5>
                        <div class="footer__widget-content">
                           <p class="ft-text mb-35">Subscribe to out newsletter today to receive updates
                              on the latest news, releases and special offers. We
                              respect your privacy. Your information is safe.</p>
                              <div class="footer__subscribe-form p-relative mb-30">
                                 <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <button type="submit" class="s-button">Subscribe</button>
                                 </form>
                           </div>
                           <div class="footer__social">
                              <div class="footer__social-info">
                                 <span>Social Network:</span>
                                    <div class="footer__social-icon">
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-behance"></i></a>
                                       <a href="#"><i class="fab fa-youtube"></i></a>
                                       <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer__copyright white-bg mt-60">
                  <div class="row">
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-text">
                           <p>Copyright & Design By <a href="#">@ThemePure</a> - 2022</p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-links text-sm-end">
                           <a href="faq.html">Faq</a>
                           <a href="contact.html">Careers </a>
                           <a href="contact.html">Refund Policy</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer__shape-1">
               <img src="{%  static 'webapp/assets/img/footer/footer-shape-1.png' %}" alt="">
            </div>
            <div class="footer__shape-2">
               <img src="{%  static 'webapp/assets/img/footer/footer-shape-2.png' %}" alt="">
            </div>
         </div>
      </footer>
      <!-- footer end -->

      <!-- JS here -->
      <script src="{% static 'webapp/assets/js/vendor/jquery.js' %}"></script>
      <script src="{% static 'webapp/assets/js/vendor/waypoints.js' %}"></script>
      <script src="{% static 'webapp/assets/js/bootstrap-bundle.js' %}"></script>
      <script src="{% static 'webapp/assets/js/meanmenu.js' %}"></script>
      <script src="{% static 'webapp/assets/js/swiper-bundle.js' %}"></script>
      <script src="{% static 'webapp/assets/js/owl-carousel.js' %}"></script>
      <script src="{% static 'webapp/assets/js/magnific-popup.js' %}"></script>
      <script src="{% static 'webapp/assets/js/parallax.js' %}"></script>
      <script src="{% static 'webapp/assets/js/backtotop.js' %}"></script>
      <script src="{% static 'webapp/assets/js/nice-select.js' %}"></script>
      <script src="{% static 'webapp/assets/js/counterup.js' %}"></script>
      <script src="{% static 'webapp/assets/js/wow.js' %}"></script>
      <script src="{% static 'webapp/assets/js/isotope-pkgd.js' %}"></script>
      <script src="{% static 'webapp/assets/js/imagesloaded-pkgd.js' %}"></script>
      <script src="{% static 'webapp/assets/js/ajax-form.js' %}"></script>
      <script src="{% static 'webapp/assets/js/main.js' %}"></script>
   </body>
</html>
